# Copy and rename this file to '.env'
PORT = 3000

MONGODB_URI = mongodb+srv://user:12345@test.ag7e8.mongodb.net/instagram-replier?retryWrites=true&w=majority
MONGODB_URI_TEST = mongodb+srv://user:12345@test.ag7e8.mongodb.net/instagram-replier-test?retryWrites=true&w=majority

# generate one at https://generate.plus/en/base64
JWT_SECRET = jwtsecretkey

SENDGRID_API_KEY = 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
SENDGRID_SENDER = instagram.repliers@gmail.com
SENDGRID_VERIFICATION_TEMPLATE = d-ca65d168fe664892932fa88d075dedbb
SENDGRID_RECOVER_TEMPLAE = d-12526fb4c21549d8901548fdfe19ae43
SENDGRID_NOTICE_TEMPLATE = d-337ff99209a54ca89f99680fb9620c4d

LOG_LEVEL = silly

